@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

$base-primary: #FFDB59;
$base-secondary: #59FFE5;
$medium-secondary: #008571;
$dark-secondary: #00464D;
$darker-secondary: #00131A;
$medium-grey: #353535;
$dark-grey: #151515;
$white: #ffffff;

h1, h2, h3, h4, p, input, a {
    font-family: 'Google Sans Flex', 'Arial';
}

ul{
    list-style-type: none;
}

html{
    background-color: $darker-secondary;
}

footer{
    background-color: $dark-secondary;
    & p{
        color: $white;
    }
}

.ai-status{
    p{
        color: white;
    }
}

.hero{
    background-image: linear-gradient($medium-secondary, $dark-secondary);
    background-color: $dark-secondary;

    & h2{
        color: $white;
    }

   button{
        background-color: transparent;
        border: none;
    }
}

.hidden {
    display: none !important;
}

.nav_clock_time{
    color: $white;
    background-image: linear-gradient($dark-secondary, $darker-secondary);
    background-color: $darker-secondary;
}

.spinner {
    animation: spin 1s linear infinite;
}

#nav{
    &_profile{
        background-color: $base-secondary;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}