@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

$base-primary: #FFDB59;
$base-secondary: #59FFE5;
$medium-secondary: #008571;
$dark-secondary: #00464D;
$darker-secondary: #00131A;
$medium-grey: #353535;
$dark-grey: #151515;

h1, h2, h3, h4, p, input, a {
    font-family: 'Google Sans Flex', 'Arial';
}

ul{
    list-style-type: none;
}