@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");
body {
  margin: 0px;
}

h1, h2, h3, h4, p, input, a {
  font-family: "Google Sans Flex", "Arial";
}

header {
  margin: 8px;
}

html {
  background-color: #00131A;
}

footer {
  background-color: #00464D;
}
footer p {
  padding: 15px;
  color: #ffffff;
}

/*Classes*/
.ai-status {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 25px;
  background-color: rgba(53, 53, 53, 0.7490196078);
  background-image: linear-gradient(rgba(53, 53, 53, 0.7490196078), rgba(21, 21, 21, 0.7490196078));
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-columns: 25px 1fr;
  align-items: center;
}
.ai-status p {
  grid-column: 2/3;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ai-status svg {
  grid-column: 1/2;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
}

.hero {
  background-image: linear-gradient(#008571, #00464D);
  background-color: #00464D;
  padding: 15px;
  margin: 10px;
  border-radius: 40px;
  width: 100%;
  max-width: 345px;
  height: 100%;
  max-height: 800px;
}
.hero h2 {
  color: #ffffff;
}
.hero h2#hero_decision {
  font-style: italic;
  font-weight: 400;
}
.hero h2#section_title {
  font-style: italic;
  font-weight: 400;
}
.hero button {
  background-color: transparent;
  border: none;
}

.hidden {
  display: none !important;
}

.nav_bar {
  margin: 0px 10px 0px 10px;
}
.nav_clock_time {
  color: #ffffff;
  background-image: linear-gradient(#00464D, #00131A);
  background-color: #00131A;
}
.nav_items {
  list-style-type: none;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
}
.nav_link_container {
  float: left;
}
.nav_link_container div {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
}
.nav_link_container a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
}
.nav_search_bar {
  display: flex !important;
  height: 50px;
  width: 220px;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: visible;
}
.nav_search_bar button {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  padding: 0px;
  border-radius: 0px 25px 25px 0px;
  border: 0px;
  margin: 0px;
  display: flex;
  flex-shrink: 0;
  background-color: #ffffff;
}
.nav_search_bar input {
  box-sizing: border-box;
  display: block;
  height: 50px;
  padding: 0 15px;
  border-radius: 25px 0px 0px 25px;
  border: 0px;
  font-size: 18px;
  width: 170px;
  line-height: 40px;
  margin: 0px;
  flex-shrink: 0;
}

.site-card {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: repeat(4, 1fr) 15px repeat(2, 1fr);
  color: #ffffff;
  margin-bottom: 20px;
}
.site-card div {
  display: grid;
  grid-template-columns: 20px 5px 1fr;
  grid-template-rows: 1fr;
}
.site-card div p {
  grid-column: 3/4;
  margin-top: 0px;
  margin-bottom: 0px;
  max-height: 25px;
  font-size: 14px;
}
.site-card h3 {
  grid-column: 1/4;
  grid-row: 1/2;
  margin: 0px;
}
.site-card .card_score {
  font-weight: 400;
  font-size: 14px;
  padding: 2px;
  border-radius: 12px;
  background-color: #59FFE5;
  color: #000000;
}
.site-card .card_temp {
  grid-column: 1/2;
  grid-row: 2/5;
  font-size: 68px;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
}
.site-card .card_bortle {
  grid-column: 3/4;
  grid-row: 2/3;
}
.site-card .card_duration {
  grid-column: 3/4;
  grid-row: 3/4;
}
.site-card .card_cloud {
  grid-column: 3/4;
  grid-row: 4/5;
}
.site-card .card_viewing {
  grid-column: 1/2;
  grid-row: 6/7;
}
.site-card .card_drive {
  grid-column: 3/4;
  grid-row: 6/7;
}
.site-card .card_leave {
  grid-column: 1/2;
  grid-row: 7/8;
}
.site-card .card_directions {
  grid-column: 3/4;
  grid-row: 7/8;
}
.site-card .card_directions a {
  color: #ffffff;
  text-decoration: none;
}
.site-card .card_directions a:visited {
  color: #ffffff;
}
.site-card .card_directions .card_link {
  grid-column: 3/4;
  font-size: 14px;
}

.spinner {
  animation: spin 1s linear infinite;
}

.weekly-card {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: repeat(5, 1fr);
  color: #ffffff;
  margin-bottom: 20px;
}
.weekly-card div {
  display: grid;
  grid-template-columns: 20px 5px 1fr;
  grid-template-rows: 1fr;
}
.weekly-card div p {
  grid-column: 3/4;
  margin-top: 0px;
  margin-bottom: 0px;
  max-height: 25px;
  font-size: 14px;
}
.weekly-card h2 {
  grid-column: 1/4;
  grid-row: 1/2;
  margin: 0px;
}
.weekly-card h3 {
  grid-column: 1/4;
  grid-row: 2/3;
  margin: 0px;
}
.weekly-card .card_score {
  font-weight: 400;
  font-size: 14px;
  padding: 2px;
  border-radius: 12px;
  background-color: #FFDB59;
  color: #000000;
}
.weekly-card .card_temp {
  grid-column: 1/2;
  grid-row: 3/6;
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
}
.weekly-card .card_bortle {
  grid-column: 3/4;
  grid-row: 3/4;
}
.weekly-card .card_cloud {
  grid-column: 3/4;
  grid-row: 4/5;
}
.weekly-card .card_directions {
  grid-column: 3/4;
  grid-row: 5/6;
}
.weekly-card .card_directions a {
  color: #ffffff;
  text-decoration: none;
}
.weekly-card .card_directions a:visited {
  color: #ffffff;
}
.weekly-card .card_directions .card_link {
  grid-column: 3/4;
  font-size: 14px;
}
.weekly_stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin-left: auto;
  margin-right: auto;
}
.weekly_stats div {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 1fr;
}
.weekly_stats div p {
  margin-left: 5px;
}
.weekly_stats p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.weekly_stats_temp {
  grid-column: 1/2;
  grid-row: 1/4;
  font-size: 60px;
  font-weight: 300;
}
.weekly_stats_bortle {
  grid-column: 2/3;
  grid-row: 1/2;
}
.weekly_stats_cloud {
  grid-column: 2/3;
  grid-row: 2/3;
}
.weekly_stats_direction {
  grid-column: 2/3;
  grid-row: 3/4;
}
.weekly_stats_direction a {
  color: #ffffff;
  text-decoration: none;
}
.weekly_stats_direction a:hover {
  color: #ffffff;
}
.weekly_stats_direction a:visited {
  color: #ffffff;
}

/*ID's*/
#hero_details {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#nav_profile {
  background-color: #59FFE5;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#results-container {
  height: 100%;
  max-height: 330px;
  width: 100%;
  max-width: 325px;
  padding: 10px;
  border-radius: 25px;
  color: #ffffff;
  background-color: #3C0085;
  background-image: linear-gradient(#3C0085, #000066);
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#results-container::-webkit-scrollbar {
  display: none;
}

#weekly_outlook {
  height: 100%;
  max-height: 390px;
  width: 100%;
  max-width: 325px;
  padding: 10px;
  border-radius: 25px;
  color: #ffffff;
  background-color: #3C0085;
  background-image: linear-gradient(#3C0085, #000066);
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#weekly_outlook::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=base.css.map */