@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

$base-primary: #FFDB59;
$base-secondary: #59FFE5;
$medium-secondary: #008571;
$dark-secondary: #00464D;
$darker-secondary: #00131A;
$medium-tertiary: #3C0085;
$dark-tertiary: #000066;
$medium-grey: #353535bf;
$dark-grey: #151515bf;
$white: #ffffff;

body{
    margin: 0px;
}

h1, h2, h3, h4, p, input, a {
    font-family: 'Google Sans Flex', 'Arial';
}

header{
    margin: 8px;
}

html{
    background-color: $darker-secondary;
}

footer{
    background-color: $dark-secondary;
    & p{
        padding: 15px;
        color: $white;
    }
}

/*Classes*/

.ai-status{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 25px;
    background-color: $medium-grey;
    background-image: linear-gradient($medium-grey, $dark-grey);
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;

    p{
        grid-column: 2 /3;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    svg {
        grid-column: 1 /2;
        margin-top: 10px;
        margin-bottom: 10px;
        align-self: center;
    }
}

.featured-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    color: $white;

    h3{
        grid-column: 1 /3;
        grid-row: 1 /2;
        margin: 0px;
    }

    p{
        margin: 0px;
    }

    div{
        display: grid;
        grid-template-columns: 20px auto;
        grid-template-rows: 1fr;
    }

    .top_Temp{
        grid-column: 1 /2;
        grid-row: 2 /5;
        font-size: 70px;
        font-weight: 600;
    }

    .top_Bortle{
        grid-column: 2 /3;
        grid-row: 2 /3;
    }

    .top_Duration{
        grid-column: 2 /3;
        grid-row: 3 /4;
    }

    .top_Clouds{
        grid-column: 2 /3;
        grid-row: 4 /5;
    }

    .top_Viewing{
        grid-column: 1 /2;
        grid-row: 6 /7;
    }

    .top_Drive{
        grid-column: 2 /3;
        grid-row: 6 /7;
    }

    .top_Leave{
        grid-column: 1 /2;
        grid-row: 7 /8;
    }

    .top_Directions{
        grid-column: 2 /3;
        grid-row: 7 /8;
        
        a {
            text-decoration: none;
        }

        a:visited{
            color: $white;
        }
    }
}

.hero{
    background-image: linear-gradient($medium-secondary, $dark-secondary);
    background-color: $dark-secondary;
    padding: 15px;
    margin: 10px;
    border-radius: 40px;
    width: 100%;
    max-width: 345px;
    height: 100%;
    max-height: 800px;


    & h2{
        color: $white;
        
        &#hero_decision{
            font-style: italic;
            font-weight: 400;
        }

        &#section_title{
            font-style: italic;
            font-weight: 400;
        }
    }

   button{
        background-color: transparent;
        border: none;
    }
}

.hidden {
    display: none !important;
}

.nav{
    &_bar{
        margin: 0px 10px 0px 10px;
    }
    &_clock_time{
        color: $white;
        background-image: linear-gradient($dark-secondary, $darker-secondary);
        background-color: $darker-secondary;
    }

    &_items {
        list-style-type: none;
        padding: 0px 0px 0px 0px;
        overflow: hidden;
    }

    &_link_container {
        float: left;

        & div {
            display: block;
            text-align: center;
            text-decoration: none;
            padding: 10px 10px;
        }

        & a {
            display: block;
            text-align: center;
            text-decoration: none;
            padding: 10px 10px;
        }
    }

    &_search_bar{
        display: flex !important;
        height: 50px;
        width: 220px;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: visible;

        & button{
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            padding: 0px;
            border-radius: 0px 25px 25px 0px;
            border: 0px;
            margin: 0px;
            display: flex;
            flex-shrink: 0;
            background-color: $white;
        }

        & input{
            box-sizing: border-box;
            display: block;
            height: 50px;
            padding: 0 15px;
            border-radius: 25px 0px 0px 25px;
            border: 0px;
            font-size: 18px;
            width: 170px;
            line-height: 40px;
            margin: 0px;
            flex-shrink: 0;
        }
    }
}

.site-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr) 15px repeat(2, 1fr);
    color: $white;
    margin-bottom: 20px;

    div {
        display: grid;
        grid-template-columns: 20px 1fr;
        grid-template-rows: 1fr;

        p {
            margin-top: 0px;
            margin-bottom: 0px;
            max-height: 25px;
        }
    }

    h3{
        grid-column: 1 /3;
        grid-row: 1 /2;
        margin: 0px;
    }

    .card_temp{
        grid-column: 1 /2;
        grid-row: 2 /5;
        font-size: 70px;
        margin-top: 0px;
        margin-bottom: 0px;
        justify-content: center;
    }

    .card_bortle{
        grid-column: 2 /3;
        grid-row: 2 /3;
    }

    .card_duration{
        grid-column: 2 /3;
        grid-row: 3 /4;
    }

    .card_cloud {
        grid-column: 2 /3;
        grid-row: 4 /5;
    }

    .card_viewing {
        grid-column: 1 /2;
        grid-row: 6 /7;
    }

    .card_drive {
        grid-column: 2 /3;
        grid-row: 6 /7;
    }

    .card_leave {
        grid-column: 1 /2;
        grid-row: 7 /8;
    }

    .card_directions {
        grid-column: 2 /3;
        grid-row: 7 /8;

        a{
            color: $white;
            text-decoration: none;
        }

        a:visited {
            color: $white;
        }
    }
}

.spinner {
    animation: spin 1s linear infinite;
}

.weekly{
    &-card{
        .site-name{
            font-weight: 400;
        }
    }

    &_stats{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        margin-left: auto;
        margin-right: auto;

        div{
            display: grid;
            grid-template-columns: 20px 1fr;
            grid-template-rows: 1fr;

            p {
                margin-left: 5px;
            }
        }

        p{
            margin-top: 0px;
            margin-bottom: 0px;
        }

        &_temp{
            grid-column: 1 /2;
            grid-row: 1 /4;
            font-size: 60px;
            font-weight: 300;
        }

        &_bortle{
            grid-column: 2 /3;
            grid-row: 1 /2;
        }

        &_cloud{
            grid-column: 2 /3;
            grid-row: 2 /3;
        }

        &_direction{
            grid-column: 2 /3;
            grid-row: 3 /4;

            a{
                color: $white;
                text-decoration: none;
            }

            a:hover{
                color: $white;
            }

            a:visited{
                color: $white;
            }
        }
    }
}

/*ID's*/

#hero{
    &_details{
        display: flex;
        align-self: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

#nav{
    &_profile{
        background-color: $base-secondary;
        height: 50px;
        width: 50px;
        border-radius: 25px;
        float: right;
        margin-right: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

#results-container{
    height: 100%;
    max-height: 390px;
    width: 100%;
    max-width: 325px;
    padding: 10px;
    border-radius: 25px;
    color: $white;
    background-color: $medium-tertiary;
    background-image: linear-gradient($medium-tertiary, $dark-tertiary);
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}


#weekly_outlook{
    height: 100%;
    max-height: 390px;
    width: 100%;
    max-width: 325px;
    padding: 10px;
    border-radius: 25px;
    color: $white;
    background-color: $medium-tertiary;
    background-image: linear-gradient($medium-tertiary, $dark-tertiary);
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}