<div id="auth_modal" class="modal_overlay hidden">
    <div class="modal_content">
        <span id="close_modal" class="close_btn"><svg id="featured_details_svg" width="20px" height="20px"><image width="20px" height="20px" href="/images/icon_close.svg"></image></svg></span>
        <h2>Join StellaView</h2>
        <form id="register_form">
            <input type="text" id="first_name" placeholder="First Name" required>
            <input type="text" id="last_name" placeholder="Last Name" required>
            <input type="email" id="email_input" placeholder="Email" required>
            <input type="password" id="password_input" placeholder="Password" required>
            <button type="submit" class="cta_btn">Create Account</button>
        </form>
    </div>
</div>
<div class="home-panel">
    
    <!--This is where the map will go-->

</div>