<p>Copyright &copy; 2026-<span id="year"></span> Andrew Mulert</p>
<script type="module" src="/js/main.js"></script>
<script type="module" src="/js/auth.js"></script>
<!--<div class="footer_social">
        <a href="" target="_blank"><svg width="40px" height="40px"><image width="40px" height="40px" href="images/social_instagram.svg"></image></svg></a>
        <a href="" target="_blank"><svg width="40px" height="40px"><image width="40px" height="40px" href="images/social_facebook.svg"></image></svg></a>
        <a href="" target="_blank"><svg width="40px" height="40px"><image width="40px" height="40px" href="images/social_linkedin.svg"></image></svg></a>
        <a href=""><image width="40px" height="40px" href="images/social_linkedin.svg"></image></svg></a>
</div>-->