<%- navHTML %>
    <div class="hero">
        <h2>Tonight is a good night for stargazing</h2>
        <button href="/" class="nav_links" id="hero_details"><svg id="hero_details_svg" width="45px" height="45px"><image width="45px" height="45px" href="/images/icon_down_chevron.svg"></image></svg></button>
        <div id="results-container" class="results-grid">
        </div>
    </div>