<%- navHTML %>
    <div class="hero">
        <h2 id="hero_decision">Tonight is a good night for stargazing.</h2>
        <button href="/" class="nav_links" id="hero_details"><svg id="hero_details_svg" width="30px" height="30px"><image width="30px" height="30px" href="/images/icon_down_chevron.svg"></image></svg></button>
        <div id="results-container" class="results-grid"></div>
        <section id="weekly_outlook" class="hidden">
            <h2 class="section-title">Upcoming Clear Skies</h2>
                <div id="weekly_grid" class="weekly-scroll-container"></div>
        </section>
    </div>